<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<form  method="post" enctype="multipart/form-data">      {# enctype="multipart/form-data" chia cho du lieu ra #}
    {% csrf_token %}
    <input type="file" name="myfile" id="myfileselect" accept="image/jpeg,image/png" onchange="encoderimg()" required>
    {#  hidden  : an di #}
    <input type="hidden" name="encoderfile" id="encoderfile" value="">
    <button type="submit">Send</button>
    <div id="showimg"></div>
</form>
<script>
    function encoderimg() {
        var fileselected = document.getElementById("myfileselect").files;
        if (fileselected.length >0 )              //dem so luong file
            var fileloaded= fileselected[0];      //lay ra file dau tien
            var filereader=new FileReader();     //tao bien de doc file
            filereader.onload= function (fileLoadEvent) {            //khi load file de doc
                var srcData = fileLoadEvent.target.result;           // ma hoa base 64
                var imgshow = document.createElement("img");          // the the hien anh
                imgshow.src=srcData;                                // gan du lieu anh bang du lieu base 64 de load len
                document.getElementById('showimg').innerHTML=imgshow.outerHTML ;// copy the img imgshow ghi vao the div
                $("#encoderfile").val(document.getElementById('showimg').innerHTML);// copy the img tren vao value cua the input
            };
            filereader.readAsDataURL(fileloaded)
    }
</script>
</body>
</html>